* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(235, 232, 232);
}

.bg-img-ul {
  background-image: url("../Images/nav_background.png");
}

.bg-img-ul ul {
  list-style: none;
}
.bg-img-ul ul li {
  transition: 1s all;
  cursor: pointer;
  color: rgb(85, 84, 84);
}
li#light {
  color: aliceblue;
}
.bg-img-ul ul li:hover {
  color: aliceblue;
}
.right {
  background-image: url("../Images/intro_flower.png");
  background-size: cover;
  background-position: right;
  border-radius: 15px;
  background-repeat: no-repeat;
  position: relative;
  left: -25px;
}

.left {
  min-height: 300px;
  padding-inline: 10px;
  background-color: rgb(122, 180, 28);
  border-radius: 15px;
}
.content {
  position: absolute;
  text-align: center;
  color: azure;
}
.content h3 {
  font-size: 30px;
  margin: 15px;
  padding: 5px;
  font-weight: 500;
}
.content p {
  font-size: 14px;
  line-height: 22px;
}

.blog-left h3 {
  font-size: 35px;
  margin-block: 10px;
}
.blog-left {
  border-right: 1px solid rgba(255, 254, 254, 0.486);
}

.blog-left span:first-of-type {
  color: gray;
  font-size: 18px;
}
.blog-left p {
  margin-block: 15px;
  line-height: 25px;
}
.blog-left > div {
  margin-block: 25px;
}
.blog-left h4 {
  font-size: 22px;
  margin-block: 10px;
}
table {
  margin: 20px;
  border-collapse: collapse;
}
table td {
  padding-inline: 10px;
}
p.date {
  margin-block: 3px;
}
table tr:nth-child(2) {
  background-color: lightgrey;
}

tr:nth-child(2) td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-left: 1px solid rgb(223, 223, 223);
}
tr:nth-child(2) td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-right: 1px solid rgb(223, 223, 223);
}
table a {
  color: black;
}
table a:hover {
  text-decoration: none;
}
form div {
  margin-block: 10px;
  padding: 0;
}
form input,
textarea {
  width: 100%;
}
form input {
  height: 25px;
}
form div.label {
  text-align: right;
  padding-inline: 10px;
}
.blog-right div.row {
  background: linear-gradient(
    to bottom,
    rgba(187, 185, 185, 0.301),
    rgba(255, 255, 255, 0.281)
  );
  padding: 30px;
  list-style: none;
  border-radius: 15px;
  margin-block: 15px;
}
.blog-right div.row h4 {
  margin-block: 5px;
  font-size: 20px;
}
.blog-right div.row ul {
  list-style: none;
  padding: 15px;
}
.blog-right div.row ul li {
  margin-block: 5px;
}
.blog-right div.row ul li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}
.blog-right div.row ul li a:hover {
  text-decoration: underline;
}
footer {
  background-color: rgba(0, 0, 0, 0.795);
  color: gray;
}
footer h4 {
  color: white;
  margin-block: 10px;
  font-size: 21px;
}
footer ul {
  padding-left: 15%;
}
footer li {
  margin-block: 5px;
}
footer li a {
  color: gray;
}
footer li a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .left {
    min-height: 180px;
  }
  .right {
    left: -16px;
  }
  .content h3 {
    font-size: 14px;
    margin: 8px;
    padding: 0px;
  }
  .content p {
    font-size: 11px;
    line-height: 18px;
  }
  .heding {
    transform: translateX(8px);
  }
  .blog-left h3 {
    font-size: 22px;
  }

  .blog-left span:first-of-type {
    font-size: 12px;
  }
  .blog-left p {
    margin-block: 10px;
    line-height: 18px;
    font-size: 12px;
  }
  .blog-left h4 {
    font-size: 18px;
    margin-block: 5px;
  }
  table {
    margin: 5px;
  }
  table td {
    padding-inline: 10px;
  }
  p.date {
    margin-block: 3px;
  }
  form div {
    margin-block: 5px;
    padding: 0;
  }
  form div.label {
    font-size: 11px;
  }
  .blog-right {
    padding: 10px;
  }
  .blog-right div.row {
    background: linear-gradient(
      to bottom,
      rgba(187, 185, 185, 0.301),
      rgba(255, 255, 255, 0.281)
    );
    padding: 30px;
    list-style: none;
    border-radius: 15px;
    margin-block: 15px;
  }
  .blog-right div.row h4 {
    margin-block: 5px;
    font-size: 20px;
  }
  .blog-right div.row ul {
    list-style: none;
    padding: 15px;
  }
  .blog-right div.row ul li {
    margin-block: 5px;
  }
  .blog-right div.row ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
  }
  .blog-right div.row ul li a:hover {
    text-decoration: underline;
  }
}
